<div id="about-me">
    <div container>
        <%= image_tag 'me.jpg', size: '200', id: 'photo' %>
        
        <div layout inline vertical>
            <h1>Álan Crístoffer e Sousa</h1>
            
            <span layout inline horizontal>
                <span class="emails">
                    <a href="mailto:acristoffers@gmail.com">acristoffers@gmail.com</a>
                    <a href="https://acristoffers.me/public/PublicKey.asc"><%= t :gpg_public_key %></a>
                    
                    <span class="social">
                        <a href="https://facebook.com/acristoffers" target="_blank"><%= image_tag 'fb.jpg', size: '24', class: 'profile-icon' %></a>
                        <a href="https://plus.google.com/+AlanCristoffer" target="_blank"><%= image_tag 'gplus.jpg', size: '24', class: 'profile-icon' %></a>
                        <a href="https://twitter.com/acristoffers" target="_blank"><%= image_tag 'twitter.jpg', size: '24', class: 'profile-icon' %></a>
                        <a href="https://github.com/acristoffers" target="_blank"><%= image_tag 'github.jpg', size: '24', class: 'profile-icon' %></a>
                        <a href="https://linkedin.com/in/acristoffers" target="_blank"><%= image_tag 'linkedin.jpg', size: '24', class: 'profile-icon' %></a>
                    </span>
                </span>
            
                <span class="languages">
                    <strong><%= t :i_can_speak %></strong> <br>
                    <%= t :pt %> (<%= t :native %>) <br>
                    <%= t :en %> (C2) <br>
                    <%= t :de %> (C1) <br>
                    <%= t :fr %> (B1)
                </span>
            </span>
        </div>
        
        <div id="about-text">
            <%= t :about_me %>
        </div>
        
        <h1><%= t :some_projects %></h1>
    </div>
    <!--
    <div id="void" class="application">
        <div container>
            <div>
                <a href="https://github.com/acristoffers/Void" target="_blank">
                    <%= image_tag 'void.svg', :class => 'icon' %>
                    <div class="title">Void</div>
                </a>
                <div class="desc"><%= t :void_desc %></div>
                
                <span class="screenshot-text"><%= t :void_ss1_desc %></span>
                <%= image_tag 'screenshots/Void 1.png', class: 'screenshot' %>
                
                <%= image_tag 'screenshots/Void 2.png', class: 'screenshot' %>
                <span class="screenshot-text"><%= t :void_ss2_desc %></span>
                
                <span class="screenshot-text"><%= t :void_ss3_desc %></span>
                <%= image_tag 'screenshots/Void 3.png', class: 'screenshot' %>
            </div>
        </div>
    </div>
    -->
    <!--
    <div id="tracker" class="application">
        <div container>
            <a href="http://goo.gl/QrEwYK" target="_blank">
                <%= image_tag 'tracker.svg', :class => 'icon' %>
                <div class="title">Correios Tracker</div>
            </a>
            <div class="desc"><br><%= t :correios_tracker_desc %></div>
            
            <span class="screenshot-text"><%= t :tracker_ss1_desc %></span>
            <%= image_tag 'screenshots/Tracker 1.png', class: 'screenshot' %>
            
            <%= image_tag 'screenshots/Tracker 2.png', class: 'screenshot' %>
            <span class="screenshot-text"><%= t :tracker_ss2_desc %></span>
        </div>
    </div>
    -->
    
    <div id="testsdatabase" class="application">
        <div container>
            <a href="https://github.com/acristoffers/TestsDatabase" target="_blank">
                <%= image_tag 'tests-database.png', :class => 'icon' %>
                <div class="title">TestsDatabase</div>
            </a>
            <div class="desc"><br><%= t :tests_database_desc %></div>
            
            <span class="screenshot-text"><%= t :tb_ss1_desc %></span>
            <%= image_tag 'screenshots/TestsDatabase 1.png', class: 'screenshot' %>
            
            <%= image_tag 'screenshots/TestsDatabase 2.png', class: 'screenshot' %>
            <span class="screenshot-text"><%= t :tb_ss2_desc %></span>
            
            <span class="screenshot-text"><%= t :tb_ss3_desc %></span>
            <%= image_tag 'screenshots/TestsDatabase 3.png', class: 'screenshot' %>
        </div>
    </div>
    
    <div id="cef" class="application">
        <div container>
            <a href="https://github.com/acristoffers/CEFSimpleSample" target="_blank">
                <%= image_tag 'cef_logo.png', :class => 'icon' %>
                <div class="title">CEFSimpleSample</div>
            </a>
            <%= t :and %>
            <a href="https://github.com/acristoffers/CEF3SimpleSample" target="_blank">
                <%= image_tag 'cef_logo.png', :class => 'icon' %>
                <div class="title">CEF3SimpleSample</div>
            </a>
            <div class="desc"><br><%= t :cefss_desc %></div>
        </div>
    </div>
</div>
