<div id="about">
    <%= image_tag 'me.jpg', size: '200', id: 'photo' %>
    
    <div id="beside-image">
        <span id='about-name'>Álan Crístoffer e Sousa</span>
        <br><br>
        <span>
            <core-icon class="profile-icon" icon="mail"></core-icon>
            <a href="mailto:acristoffers@gmail.com">acristoffers@gmail.com</a> <br>
            
            <core-icon class="profile-icon" icon="mail"></core-icon>
            <a href="mailto:acristoffers@me.com">acristoffers@me.com</a> <br>
            
            <core-icon class="profile-icon" icon="mail"></core-icon>
            <a href="mailto:acristoffers@live.com">acristoffers@live.com</a> <br>
            
            <core-icon class="profile-icon" icon="mail"></core-icon>
            <a href="mailto:alan@acristoffers.me">alan@acristoffers.me</a>
            
            <br><br>
            
            <core-icon class="profile-icon" icon="lock"></core-icon>
            <a href="https://acristoffers.me/public/PublicKey.asc" target="_blank"><%= t :gpg_public_key %></a>
            
            <br><br>
        </span>
    </div>
    
    <div class="social">
        <div class='float-left'>    
            <%= image_tag 'fb.jpg', size: '24', class: 'profile-icon' %>
            <a href="https://facebook.com/acristoffers" target="_blank">@acristoffers</a> <br>
            <%= image_tag 'gplus.jpg', size: '24', class: 'profile-icon' %>
            <a href="https://plus.google.com/+AlanCristoffer" target="_blank">+AlanCristoffer</a> <br>
            <%= image_tag 'twitter.jpg', size: '24', class: 'profile-icon' %>
            <a href="https://twitter.com/acristoffers" target="_blank">@acristoffers</a> <br>
            <%= image_tag 'github.jpg', size: '24', class: 'profile-icon' %>
            <a href="https://github.com/acristoffers" target="_blank">@acristoffers</a>
        </div>
        <br>
        <div class='float-right'>
            <core-icon class="profile-icon" icon="translate"></core-icon> <%= t :pt %> (<%= t :native %>) <br>
            <core-icon class="profile-icon" icon="translate"></core-icon> <%= t :en %> (C1) <br>
            <core-icon class="profile-icon" icon="translate"></core-icon> <%= t :de %> (B1) <br>
            <core-icon class="profile-icon" icon="translate"></core-icon> <%= t :fr %> (A2)
        </div>
    </div>
    
    <div class="clear text">
        <%= t :about_me %>
        
        <br><br>
        <h2><%= t :some_projects %></h2>
        <br>
        
        <div class="application-card">
            <a href="https://github.com/acristoffers/Void" target="_blank">
                <div>
                    <%= image_tag 'void.svg', size: '64' %>
                    <span class="title">Void</span>
                </div>
                <div class="desc"><br><%= t :void_desc %></div>
            </a>
        </div>
        <br><br>
        <div class="application-card">
            <a href="http://goo.gl/QrEwYK" target="_blank">
                <div>
                    <%= image_tag 'tracker.png', size: '64' %>
                    <span class="title">Correios Tracker</span>
                </div>
                <div class="desc"><br><%= t :correios_tracker_desc %></div>
            </a>
        </div>
        <br><br>
        <div class="application-card">
            <a href="https://github.com/acristoffers/TestsDatabase" target="_blank">
                <div>
                    <%= image_tag 'tests-database.png', size: '64' %>
                    <span class="title">TestsDatabase</span>
                </div>
                <div class="desc"><br><%= t :tests_database_desc %></div>
            </a>
        </div>
        <br><br>
        <div class="application-card">
            <a href="https://github.com/acristoffers/CEFSimpleSample" target="_blank">
                <div>
                    <%= image_tag 'cef_logo.png', size: '64' %>
                    <span class="title">CEFSimpleSample</span>
                </div>
                <div class="desc"><br><%= t :cefss_desc %></div>
            </a>
        </div>
        <br><br>
        <div class="application-card">
            <a href="https://github.com/acristoffers/CEF3SimpleSample" target="_blank">
                <div>
                    <%= image_tag 'cef_logo.png', size: '64' %>
                    <span class="title">CEF3SimpleSample</span>
                </div>
                <div class="desc"><br><%= t :cef3ss_desc %></div>
            </a>
        </div>
    <div>
</div>
