<div id="about">
    <%= image_tag 'me.jpg', size: '200', id: 'photo' %>
    
    <div id="beside-image">
        <span id='about-name'>Álan Crístoffer e Sousa</span>
        <br><br>
        <span>
            <core-icon class="profile-icon" icon="mail"></core-icon>
            <a href="mailto:acristoffers@gmail.com">acristoffers@gmail.com</a> <br>
            
            <core-icon class="profile-icon" icon="mail"></core-icon>
            <a href="mailto:acristoffers@me.com">acristoffers@me.com</a> <br>
            
            <core-icon class="profile-icon" icon="mail"></core-icon>
            <a href="mailto:acristoffers@live.com">acristoffers@live.com</a> <br>
            
            <core-icon class="profile-icon" icon="mail"></core-icon>
            <a href="mailto:alan@acristoffers.me">alan@acristoffers.me</a>
            
            <br><br>
            
            <core-icon class="profile-icon" icon="lock"></core-icon>
            <a href="https://acristoffers.me/public/PublicKey.asc" target="_blank">GPG Public Key</a>
            
            <br><br>
        </span>
    </div>
    
    <div class="social">
        <div class='float-left'>    
            <%= image_tag 'fb.jpg', size: '24', class: 'profile-icon' %>
            <a href="https://facebook.com/acristoffers" target="_blank">@acristoffers</a> <br>
            <%= image_tag 'gplus.jpg', size: '24', class: 'profile-icon' %>
            <a href="https://plus.google.com/+AlanCristoffer" target="_blank">+AlanCristoffer</a> <br>
            <%= image_tag 'twitter.jpg', size: '24', class: 'profile-icon' %>
            <a href="https://twitter.com/acristoffers" target="_blank">@acristoffers</a> <br>
            <%= image_tag 'github.jpg', size: '24', class: 'profile-icon' %>
            <a href="https://github.com/acristoffers" target="_blank">@acristoffers</a>
        </div>
        <br>
        <div class='float-right'>
            <core-icon class="profile-icon" icon="translate"></core-icon> Portuguese (Native) <br>
            <core-icon class="profile-icon" icon="translate"></core-icon> English (C1) <br>
            <core-icon class="profile-icon" icon="translate"></core-icon> German (B1) <br>
            <core-icon class="profile-icon" icon="translate"></core-icon> French (A2)
        </div>
    </div>
    
    <div class="clear text">
        I'm a mechatronics engineering student by <a href="http://www.cefetmg.br/" target="_blank">CEFET-MG</a>, Brazil. I love programming and the idea of controlling big structures with small circuits. I'm also passionate with languages and in love with cryptography.
        
        <br><br>
        <h2>Some Projects</h2>
        <br>
        
        <div class="application-card">
            <a href="https://github.com/acristoffers/Void" target="_blank">
                <div>
                    <%= image_tag 'void.svg', size: '64' %>
                    <span class="title">Void</span>
                </div>
                <div class="desc"><br>Encrypt files using GnuPG asymetric encryption in a folder-like manner</div>
            </a>
        </div>
        <br><br>
        <div class="application-card">
            <a href="http://goo.gl/QrEwYK" target="_blank">
                <div>
                    <%= image_tag 'tracker.png', size: '64' %>
                    <span class="title">Correios Tracker</span>
                </div>
                <div class="desc"><br>Verifica o status de encomendas dos Correios</div>
            </a>
        </div>
        <br><br>
        <div class="application-card">
            <a href="https://github.com/acristoffers/TestsDatabase" target="_blank">
                <div>
                    <%= image_tag 'tests-database.png', size: '64' %>
                    <span class="title">TestsDatabase</span>
                </div>
                <div class="desc"><br>Aplicativo que fiz para o Corpo de Bombeiros Militar de Minas Gerais. Gerencia um banco de questões e facilita a geração e correção de provas.</div>
            </a>
        </div>
        <br><br>
        <div class="application-card">
            <a href="https://github.com/acristoffers/CEFSimpleSample" target="_blank">
                <div>
                    <%= image_tag 'cef_logo.png', size: '64' %>
                    <span class="title">CEFSimpleSample</span>
                </div>
                <div class="desc"><br>Simple sample on how to use Chromium Embedded Framework. More like a Hello World.</div>
            </a>
        </div>
        <br><br>
        <div class="application-card">
            <a href="https://github.com/acristoffers/CEF3SimpleSample" target="_blank">
                <div>
                    <%= image_tag 'cef_logo.png', size: '64' %>
                    <span class="title">CEF3SimpleSample</span>
                </div>
                <div class="desc"><br>Simple example to get started with CEF 3</div>
            </a>
        </div>
    <div>
</div>
