<div id="pic">
    <div container>
        <div id="fields">
            <label for="label"><%= t :label %>:</label>
            <input id="label" type="text" value="delay">
            <label for="clock"><%= t :external_clock %>:</label>
            <input id="clock" type="number" value="4000000">
            <label for="value"><%= t :value %>:</label>
            <input id="value" type="number">
            
            <br>
            
            <input type="button" id="gen-freq" value="<%= t :frequency %>">
            <input type="button" id="gen-secs" value="<%= t :seconds %>">
            <input type="button" id="gen-inst" value="<%= t :instructions %>">
        </div>
    
        <div id="asm">
        
        </div>
    </div>
</div>
