<% unless @mobile %>
<core-drawer-panel>
<% end %>
    <div drawer class="pad">
        <paper-input id="clock" label="<%= t :external_clock %>" floatingLabel value="4000000"></paper-input>
        <paper-input id="label" label="<%= t :label %>" floatingLabel value="delay"></paper-input>
        <paper-input id="value" label="<%= t :value %>" floatingLabel></paper-input>
        <paper-button id="gen-freq" raised><%= t :frequency %></paper-button> <br><br>
        <paper-button id="gen-secs" raised><%= t :seconds %></paper-button> <br><br>
        <paper-button id="gen-inst" raised><%= t :instructions %></paper-button>
    </div>
    
    <div main id="asm" class="pad code">
    </div>
<% unless @mobile %>
</core-drawer-panel>
<% end %>
<script type="text/javascript">
    register();
</script>