<!DOCTYPE html>
<html lang="en">
<head>
    <title>Álan Crístoffer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, 'shim-shadowdom' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= html_import_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon/favicon-114x114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114' %>
    <%= favicon_link_tag 'favicon/favicon-120x120.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '120x120' %>
    <%= favicon_link_tag 'favicon/favicon-144x144.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '144x144' %>
    <%= favicon_link_tag 'favicon/favicon-150x150.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '150x150' %>
    <%= favicon_link_tag 'favicon/favicon-152x152.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '152x152' %>
    <%= favicon_link_tag 'favicon/favicon-16x16.png',   rel: 'apple-touch-icon', type: 'image/png', sizes: '16x16' %>
    <%= favicon_link_tag 'favicon/favicon-180x180.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
    <%= favicon_link_tag 'favicon/favicon-192x192.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '192x192' %>
    <%= favicon_link_tag 'favicon/favicon-310x150.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '310x150' %>
    <%= favicon_link_tag 'favicon/favicon-310x310.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '310x310' %>
    <%= favicon_link_tag 'favicon/favicon-32x32.png',   rel: 'apple-touch-icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag 'favicon/favicon-36x36.png',   rel: 'apple-touch-icon', type: 'image/png', sizes: '36x36' %>
    <%= favicon_link_tag 'favicon/favicon-48x48.png',   rel: 'apple-touch-icon', type: 'image/png', sizes: '48x48' %>
    <%= favicon_link_tag 'favicon/favicon-57x57.png',   rel: 'apple-touch-icon', type: 'image/png', sizes: '57x57' %>
    <%= favicon_link_tag 'favicon/favicon-60x60.png',   rel: 'apple-touch-icon', type: 'image/png', sizes: '60x60' %>
    <%= favicon_link_tag 'favicon/favicon-70x70.png',   rel: 'apple-touch-icon', type: 'image/png', sizes: '70x70' %>
    <%= favicon_link_tag 'favicon/favicon-72x72.png',   rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72' %>
    <%= favicon_link_tag 'favicon/favicon-76x76.png',   rel: 'apple-touch-icon', type: 'image/png', sizes: '76x76' %>
    <%= favicon_link_tag 'favicon/favicon-96x96.png',   rel: 'apple-touch-icon', type: 'image/png', sizes: '96x96' %>
    <%= favicon_link_tag 'favicon/favicon-114x114.png', rel: 'icon', type: 'image/png', sizes: '114x114' %>
    <%= favicon_link_tag 'favicon/favicon-120x120.png', rel: 'icon', type: 'image/png', sizes: '120x120' %>
    <%= favicon_link_tag 'favicon/favicon-144x144.png', rel: 'icon', type: 'image/png', sizes: '144x144' %>
    <%= favicon_link_tag 'favicon/favicon-150x150.png', rel: 'icon', type: 'image/png', sizes: '150x150' %>
    <%= favicon_link_tag 'favicon/favicon-152x152.png', rel: 'icon', type: 'image/png', sizes: '152x152' %>
    <%= favicon_link_tag 'favicon/favicon-16x16.png',   rel: 'icon', type: 'image/png', sizes: '16x16' %>
    <%= favicon_link_tag 'favicon/favicon-180x180.png', rel: 'icon', type: 'image/png', sizes: '180x180' %>
    <%= favicon_link_tag 'favicon/favicon-192x192.png', rel: 'icon', type: 'image/png', sizes: '192x192' %>
    <%= favicon_link_tag 'favicon/favicon-310x150.png', rel: 'icon', type: 'image/png', sizes: '310x150' %>
    <%= favicon_link_tag 'favicon/favicon-310x310.png', rel: 'icon', type: 'image/png', sizes: '310x310' %>
    <%= favicon_link_tag 'favicon/favicon-32x32.png',   rel: 'icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag 'favicon/favicon-36x36.png',   rel: 'icon', type: 'image/png', sizes: '36x36' %>
    <%= favicon_link_tag 'favicon/favicon-48x48.png',   rel: 'icon', type: 'image/png', sizes: '48x48' %>
    <%= favicon_link_tag 'favicon/favicon-57x57.png',   rel: 'icon', type: 'image/png', sizes: '57x57' %>
    <%= favicon_link_tag 'favicon/favicon-60x60.png',   rel: 'icon', type: 'image/png', sizes: '60x60' %>
    <%= favicon_link_tag 'favicon/favicon-70x70.png',   rel: 'icon', type: 'image/png', sizes: '70x70' %>
    <%= favicon_link_tag 'favicon/favicon-72x72.png',   rel: 'icon', type: 'image/png', sizes: '72x72' %>
    <%= favicon_link_tag 'favicon/favicon-76x76.png',   rel: 'icon', type: 'image/png', sizes: '76x76' %>
    <%= favicon_link_tag 'favicon/favicon-96x96.png',   rel: 'icon', type: 'image/png', sizes: '96x96' %>
    <%= favicon_link_tag 'favicon/favicon.ico' %>
</head>
<body fullbleed vertical layout unresolved>
    <core-header-panel flex>
        <core-toolbar class="medium-tall">
            <div id="toolbar-brand">Álan Crístoffer</div>
            <paper-tabs id="tabbar" selected="<%= @tab %>" class="bottom fit" links noink>
                <paper-tab><%= link_to "Home", {controller: "static", action: "about", :format => "html", remote: true}, horizontal:'', 'center-center':'',  layout:'' %></paper-tab>
                <paper-tab> <a horizontal center-center layout href="/public">Public</a> </paper-tab>
                <paper-tab><%= link_to "PIC", {controller: "static", action: "pic", :format => "html", remote: true}, horizontal:'', 'center-center':'',  layout:'' %></paper-tab>
            </paper-tabs>
        </core-toolbar>
        
        <div id="content">
            <%= yield %>
        </div>
    </core-header-panel>
</body>
</html>
