<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<head>
    <meta charset="utf-8">
    <title><%= t :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, 'shim-shadowdom' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'partials/favicon' %>
</head>
<body>
    <header>
        <div container>
            <nav id="links">
                <%= link_to "Home", {controller: "static", action: "about", :format => "html"} %>
                <a href="/public"><%= t :public %></a>
                <%= link_to "PIC", {controller: "static", action: "pic", :format => "html"} %>
            </nav>
        
            <nav id="languages">
                <%= render 'partials/languages_menu' %>
            </nav>
        </div>
    </header>
    
    <div id="content">
        <%= yield %>
        <div class="push"></div>
    </div>
    
    <footer>
        <div container>
            <span>
                &copy; 2015 <a href="mailto:acristoffers@gmail.com">Álan Crístoffer</a>
                <nav id="languages-mobile">
                    <%= render 'partials/languages_menu' %>
                </nav>
            </span>
        </div>
    </footer>
</body>
</html>